body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set the body height to full viewport height */
    background-image: url('logo.png'); /* Set the background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
footer {
    background-color: #333; /* Choose a background color for the footer */
    color: #fff; /* Choose a text color for the footer */
    text-align: center;
    padding: 10px;
    position: fixed; /* Fix the footer at the bottom of the viewport */
    width: 100%;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 768px) {
    body {
        background-size: contain; /* Adjust background size for smaller screens */
    }

    footer {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
    .logo {
        width: 80%; /* Adjust the width of the logo */
        max-width: 200px; /* Set a maximum width for the logo */
        margin: 20px auto; /* Center the logo with some top margin */
    }
}
